@model Product

@{
    List<Category> categories = ViewData["Categories"] as List<Category>;
}

<div class="product-create-section">
    <div class="product-create">
        <h2>PRODUCT - UPDATE</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Title">Title</label>
                <input value="@Model.Title" type="text" asp-for="@Model.Title" placeholder="Title">
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description">Description</label>
                <input value="@Model.Description" type="text" asp-for="@Model.Description" placeholder="Description">
            </div>
            <div class="form-group">
                <label asp-for="@Model.Price">Price</label>
                <input value="@Model.Price" type="text" asp-for="@Model.Price" placeholder="Price">
            </div>
            <div class="form-group">
                <label asp-for="@Model.CategoryId">Category</label>
                <select id="Category" asp-for="@Model.CategoryId">
                    @for (int i = 0; i < categories.Count; i++)
                    {
                        if (categories[i].Id == Model.CategoryId)
                        {
                            <option value="@categories[i].Id">@categories[i].Name</option>
                            <option selected value="@categories[i].Id">@categories[i].Name</option>
                        }
                        else
                        {
                            <option value="@categories[i].Id">@categories[i].Name</option>
                        }
                        
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ImageUrl">Image Url</label>
                <input value="@Model.ProductImages[0]?.Image.Name" type="text" asp-for="@Model.ImageUrl" placeholder="Image Url">
            </div>
            <div class="buttons-table-product-update">
                <a class="nav-link product-go-back" asp-controller="product" asp-action="index" asp-area="admin">
                    <button class="btn-back">Cancel</button>
                </a>
                <a class="nav-link create-product"><button class="btn-success create-product-btn">Submit</button></a>
            </div>
        </form>
    </div>
</div>



